@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  /* font-weight: bold; */
}

h5 {
  font-size: 16px;
}

.main-block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1px 1fr;
  gap: 20px;
}

.v_divider {
  border-left: 1px solid #dddddd;
  /* margin-top: 20px; */
  height: 90vh;
}

.shadowed {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

.menu {
  padding: 10px;
  overflow-y: auto;
  max-height: 85vh;
}

.dropdown-btn {
  font-size: 20px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-btn.opened {
  transform: rotate(90deg);
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  opacity: 0.2;
  height: auto;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown.opened {
  max-height: 150px;
  opacity: 1;
}

.dropdown.hovered {
  position: relative;
  max-height: 15px;
}

td,
th {
  border: 1px solid #d1d5db;
  padding: 0.5rem;
}



.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}